<!DOCTYPE html>
<html>
<head>
  <title>Debug Login</title>
</head>
<body>
  <h1>Debug Login Page</h1>
  <form method="POST" action="/debug-login">
    Username: <input type="text" name="username" required /><br/>
    Password: <input type="password" name="password" required /><br/>
    <button type="submit">Login</button>
  </form>
  <p style="color:red;"><%= message %></p>
</body>
</html>
